#study_list
  .heading All Studies
  %table
    %tr
      %th Name
      %th Status
      
    - @studies.each do |study|
      %tr 
        %td= link_to study.name, study_path(study)
        %td= study.status




