- @stylesheets = %w(reset compiled/default compiled/datatables)
- @javascripts = %w(jquery-1.3.2.min jquery.dataTables.min)
- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});

#study_list
  .heading= "All Studies (#{@studies.size})"
  = render :partial => 'partials/study_table'