- @stylesheets = %w(reset compiled/default compiled/datatables)
- @javascripts = %w(jquery-1.3.2.min jquery.dataTables.min)
- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});

#study_list
  .heading All Studies
  %table.display
    %thead
      %th Study ID
      %th Short title
      %th Status
    %tbody  
      - @studies.each do |study|
        %tr
          %td= link_to study.irb_number, study_path(study) || "(no id)"
          %td= study.title || "(no title)"
          %td= study.status || "(no status)"