%h2 You are not logged in
%h3 Please choose an identity and login 
.loginbox
  -form_tag(login_authentication_path, :method => 'post') do
    %label{:for => 'netid'}
      Please enter your netid:
      %br
    =text_field_tag('netid')
    =submit_tag('login')


