%h1 You are not logged
%h3 Please choose an identity to spoof and login
.login
  -form_tag(:action => 'login', :method => 'post') do
    %label{:for => 'netid'}
    =text_field_tag('netid')
    =submit_tag('login')
.netids
  %ul
    -@netids.each do |n|
      %li=n
