%h1 You are not logged
%h3 Please choose an identity to spoof and login
.login
  -form_tag(:action => 'login', :method => 'post') do
    %label{:for => 'netid'}
    =text_field_tag('netid')
    =submit_tag('login')
.netids{:style => "width:400px;float:left;"}
  All netids:
  %ul
    -@netids.each do |n|
      %li=n

.users{:style => "margin-left:450px;"}
  Users we've seen:
  %ul
    -@users.each do |u|
      %li=u.netid 
