.loginbox
  -form_tag(login_authentication_path, :method => 'post') do
    %label{:for => 'netid'} NetID
    = text_field_tag('netid')
    %label{:for => 'password'} Password
    = password_field_tag('password')
    = submit_tag('login')
    %p= link_to "I cannot access my account", "#"
.enotis_description
  eNOTIS is the subject registration system for all IRB approved clinical research at Northwestern University
.system_status
  .heading System status
  %p Don't think twice, it's alright
  -# %p Blowin' in the wind (down)
  -# %p The times they are a-changin' (scheduled maintenance)
  -# %p Like a rolling stone (restored)
.training
  .heading Get acquainted with eNOTIS
  .video Learn basic concepts and log in
  .video Add a subject
  .video Import subjects
  .video Add subject events


