!!! XML
!!!
%html
  %head
    %title eNotis
    =stylesheet_link_tag "reset.css", "default.css"
  %body
    #flash
      message:
      =flash[:notice]
    %h1 eNotis
    #main
      =yield
          
