<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>eNOTIS</title>
        <%= stylesheet_link_tag "default" , "facebox"  %>
        <%= javascript_include_tag "jQuery" , "jquery-ui" ,"jrails","application","facebox" %>  
</head>
<body >
 <%= yield %>
</body>
</html>
