!!! XML
!!!
%html
  %head
    %title eNotis
    =stylesheet_link_tag "reset.css", "default.css","facebox"
    =javascript_include_tag "jQuery" , "jquery-ui" ,"jrails","facebox" 
  %body
    - if flash[:notice] 
      #flash
        %span#message
          Message:
          = flash[:notice]
    =render(:partial => "partials/hover_menu", :locals => {:user => @current_user})
    #main
      =yield
    #footer
      eNOTIS &mdash; Clinical Patient Registraion 
      =app_version_helper
      Created by&nbsp; 
      =link_to("NUBIC")
      &nbsp;for Nortwestern University
      
