!!! XML
!!!
%html
  %head
    %title= "eNotis :: #{@title}"
    =stylesheet_link_tag @view_stylesheets ||= ["compiled/application"]
    =javascript_include_tag @view_javascripts || []
    =yield :head
  %body

    #enotis_header
      %h1.app_name
        eNOTIS
      .tagline
        Northwestern University Clinical Subject Registration

    - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
      #flash
        = flash_messages(types)
          
    #main
      =yield

    #footer
      = image_tag("nu_pageheader.jpg")
      %p
        eNOTIS &mdash; Clinical Subject Registration 
        =app_version_helper
        Created by&nbsp; 
        =link_to("NUBIC")
        &nbsp;for Northwestern University

