- @javascripts = ["jQuery-1.3.2.min" , "jquery-ui-1.7.2.min" ,"jrails", "facebox", "jquery.dataTables.min"]
- @stylesheets = ["reset", "compiled/default", "facebox", "compiled/datatables"]

- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});

#subject_list
  - if @involvements.nil?
    .heading
      You are not authorized to see subjects on this study
  - else
    .heading
      = "The following subjects are currently associated with #{@study ? 'this study' : 'your studies'}"
    %table.display
      %thead
        %th Name
      %tbody  
        - @involvements.each do |i|
          %tr
            %td= render :partial => "partials/subject", :object => i.subject