/* line 4, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../.gem/ruby/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none; }

/* line 14, ../../../app/stylesheets/datatables.sass */
.dataTables_wrapper {
  position: relative;
  min-height: 302px;
  _height: 302px;
  clear: both;
  border: 1px solid #abcdc5;
  border-top: 0px;
  padding-top: 0.5em;
  background-color: #dae8e4; }

/* line 24, ../../../app/stylesheets/datatables.sass */
.dataTables_processing {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 11px;
  padding: 2px 0; }

/* line 36, ../../../app/stylesheets/datatables.sass */
.dataTables_length {
  width: 40%;
  float: right;
  text-align: right;
  padding-right: 0.5em; }

/* line 42, ../../../app/stylesheets/datatables.sass */
.dataTables_filter {
  width: 50%;
  float: left;
  text-align: left;
  padding-left: .75em;
  padding-bottom: 0.5em; }

/* line 49, ../../../app/stylesheets/datatables.sass */
.dataTables_info {
  width: 60%;
  float: left;
  margin-top: 0.25em; }

/* line 54, ../../../app/stylesheets/datatables.sass */
.dataTables_paginate {
  width: 44px;
  *: width 50px;
  float: right;
  text-align: right;
  margin-top: 0.25em; }

/* line 62, ../../../app/stylesheets/datatables.sass */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left; }

/* line 68, ../../../app/stylesheets/datatables.sass */
.paginate_disabled_previous {
  background-image: url('/images/jquery-datatables/back_disabled.jpg'); }

/* line 71, ../../../app/stylesheets/datatables.sass */
.paginate_enabled_previous {
  background-image: url('/images/jquery-datatables/back_enabled.jpg'); }

/* line 74, ../../../app/stylesheets/datatables.sass */
.paginate_disabled_next {
  background-image: url('/images/jquery-datatables/forward_disabled.jpg'); }

/* line 77, ../../../app/stylesheets/datatables.sass */
.paginate_enabled_next {
  background-image: url('/images/jquery-datatables/forward_enabled.jpg'); }

/* line 81, ../../../app/stylesheets/datatables.sass */
table.display {
  margin: 0 auto;
  width: 100% !important;
  clear: both; }

/* line 86, ../../../app/stylesheets/datatables.sass */
table.display thead th {
  padding: 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *: cursor hand; }

/* line 93, ../../../app/stylesheets/datatables.sass */
table.display tfoot th {
  padding: 3px 10px;
  border-top: 1px solid black;
  font-weight: bold; }

/* line 98, ../../../app/stylesheets/datatables.sass */
table.display tr.heading2 td {
  border-bottom: 1px solid #aaa; }

/* line 101, ../../../app/stylesheets/datatables.sass */
table.display td {
  padding: 3px 10px; }

/* line 104, ../../../app/stylesheets/datatables.sass */
table.display td.center {
  text-align: center; }

/* line 108, ../../../app/stylesheets/datatables.sass */
.sorting_asc {
  background: url('/images/jquery-datatables/sort_asc.jpg') no-repeat center right;
  background-color: white;
  border: 1px solid #bdbdbd; }

/* line 113, ../../../app/stylesheets/datatables.sass */
.sorting_desc {
  background: url('/images/jquery-datatables/sort_desc.jpg') no-repeat center right;
  background-color: white;
  border: 1px solid #bdbdbd; }

/* line 118, ../../../app/stylesheets/datatables.sass */
.sorting {
  background: url('/images/jquery-datatables/sort_both.jpg') no-repeat center right;
  background-color: #dae8e4;
  border: 1px solid #bdbdbd; }

/* line 124, ../../../app/stylesheets/datatables.sass */
tr.odd {
  background-color: white; }

/* line 127, ../../../app/stylesheets/datatables.sass */
tr.even {
  background-color: lime; }

/* line 131, ../../../app/stylesheets/datatables.sass */
.top, .bottom {
  padding: 15px;
  background-color: #F00;
  border: 1px solid #CCCCCC; }

/* line 136, ../../../app/stylesheets/datatables.sass */
.top .dataTables_info {
  float: none; }

/* line 138, ../../../app/stylesheets/datatables.sass */
.clear {
  clear: both; }

/* line 142, ../../../app/stylesheets/datatables.sass */
tr.odd td.sorting_1 {
  background-color: #ffffdf; }





/* line 150, ../../../app/stylesheets/datatables.sass */
tr.even td.sorting_1 {
  background-color: #fff6bf; }
