%a.protocol{:href=> registration_path(protocol.study_id)}
  %span.study_id=protocol.study_id    
  %span.name
    %small
      &nbsp;&nbsp;&ndash;&nbsp;
    =protocol.name
  %span.phase
    %small
      &nbsp;&nbsp;Phase:
    =protocol.phase
  %span.details="&nbsp;"  
  %br
  %span.title
    %small
      &nbsp;&nbsp;Title:
    =protocol.short_title || "Missing Title!!"
  %br
  %span.description
    %small  
      &nbsp;&nbsp;Desc:
    =protocol.description
