%a.protocol{:href=> registration_path(protocol.irb_number)}
  %span.study_id=protocol.irb_number
  %span.name
    %small
      &nbsp;&nbsp;&ndash;&nbsp;
    =protocol.title
  %span.phase
    %small
      &nbsp;&nbsp;Phase:
    =protocol.approval_status
  %span.details="&nbsp;"  
  %br
  %span.title
    %small
      &nbsp;&nbsp;Title:
    =protocol.title || "Missing Title!!"
  %br
  %span.description
    %small  
      &nbsp;&nbsp;Desc:
    =protocol.description
