%a.study{:href=> registration_path(study.irb_number)}
  %span.study_id=study.irb_number
  %span.name
    %small
      &nbsp;&nbsp;&ndash;&nbsp;
    =study.title
  %span.phase
    %small
      &nbsp;&nbsp;Phase:
    =study.status
  %span.details="&nbsp;"  
  %br
  %span.title
    %small
      &nbsp;&nbsp;Title:
    =study.title || "Missing Title!!"
  %br
  %span.description
    %small  
      &nbsp;&nbsp;Desc:
    =study.description
