#events_and_options
  #recent_events
    .heading
      Recent events:
    %ul.events
      %li.event
        =link_to("John Smith - AE on study STU0001924")
      %li.event
        =link_to("Sally Sue - Registered on study STU0001924")
      %li.event
        =link_to("Approval of study STU00020135")

  #user_options
    .heading
      eNotis options:
    %ul
      %li
        =link_to("view your profile")
      %li
        =link_to("view your audit history")
      %li
        =link_to("verify your email address")
      %li
        =link_to("edit user settings")

#study_list
  .heading
    = @accessable_studies.empty? ? "You are not authorized on any studies. Please contact the eIRB team for more information" : "You have access to the following Studies:"
  %ul 
    - @accessable_studies.each do |p|
      %li=render(:partial => "study", :object => p)  
