<div id="new_patient_form">
  <% form_remote_tag( :url=> search_registrations_url ) do |f| %>
      <%= label_tag 'mrn','Enter MRN' %>
      <%= text_field_tag( :mrn) %>
      <%= check_box_tag :no_mrn, 'No Mrn' %> No Mrn<br>
      <%= submit_tag( "Continue" ) %>
    <% end %>
</div>


