=render(:partial => "studies/study", :object => @study) 
#subject_list
  %strong
    Number of Subjects Currently associated with this study:
    =@involvements.size 

  %span.add_subjects
    -if @study.has_coordinator?(@current_user)
      = facebox_link_to("Add Subject", :url => new_registration_url,:study_number => {:study_number => @study.id}, :method=>:get)

