=render(:partial => "studies/protocol", :object => @protocol) 
#subject_list
  %strong
    Number of Subjects Currently associated with this protocol:
    =@involvements.size 

  %span.add_subjects
    -if @protocol.authorized_user(@current_user)
      = facebox_link_to("Add Subject", :url => new_registration_url,:study_number => {:study_number => @protocol.id}, :method=>:get)

