=render(:partial => "protocols/protocol", :object => @protocol) 
#patient_list
  %strong
    Number of Patients Currently associated with this protocol:
    =@involvements.size 

  %span.add_patients
    -if @protocol.authorized_user(@current_user)
      = facebox_link_to("Add Patient", :url => new_registration_url,:study_number => {:study_number => @protocol.id}, :method=>:get)

