%p 
  Dear
  = @pi_name
  ,

%p This a reminder that the survey results for your research studies have not yet been submitted. The deadline for the survey is 9am on Monday, April 4th.
 
%p 
  The studies missing survey results are:
  %ul
    - @studies.each do |s|
      %li 
        = s[:irb_number]
        &nbsp;
        &mdash;
        &nbsp;
        = s[:study_name]

%p 
  Please login to  
  %a{:href => "https://enotis.northwestern.edu/services"} https://enotis.northwestern.edu/services  
  at your earliest convenience and answer the medical services survey for each of your studies listed.
%p 
  Thank you very much.

%hr
[Original Email Below]
%br
%strong
  To all clinical research principal investigators,
%p
  %strong
    The letter below requests a 
    %em mandatory action 
    for all FSM clinical research PI’s.  Please read this letter carefully and respond to the request by no later than 9:00 am on Monday, April 4. 2011.  
%p
  Having an accurate account of all studies using clinical services and information about those services is critical for the University as well as our clinical partners. This process is required for a number of reasons, including regulatory compliance and patient safety.  It will also greatly benefit your clinical subjects, who otherwise may suffer from a lack of coordination of care.
%p
  To identify those studies and collect the necessary data to notify our clinical partners of research-related services in a timely and compliant manner, please complete the linked web-based form for each of your current studies. To reduce the burden on any one individual and streamline the process of filling out the form, you may delegate some or all of this activity by sharing the URL for a study with your study personnel and/or financial staff.
%p
  To access the form use your valid Northwestern NetID.  In addition you must be on campus (NU, NMH, NMFF, RIC, CMH) or using VPN. Access to the form also requires that each person have a role in eIRB. The form can be saved, reviewed or continued at any point. The identity of each individual viewing and answering the form will be tracked. No patient identifiers are requested. The form has the following items:
%ul
  %li How many participants are currently enrolled in this study? 
  %li In the future, how many participants do you think you will enroll before the completion of the study?
  %li In the future, how many participants do you think you will require clinical services as part of this study?
  %li Will you use medical services before completing this study?
  %li Does this study expect bedded outpatient services?
  %li Does this study expect inpatient services?
  %li How many inpatient days are covered by research?
  %li How many inpatient days are covered by standard of care?
  %li Does this study involve pharmacy?
  %li Does this study involve labs/pathology?
  %li Does this study involve imaging?
%p
  In a follow-up survey, you will be asked to itemize the services required as part of the screening protocol and the study, and indicate the site (NMFF, NMH, RIC, CMH, NUCATS CRU, elsewhere) where the service is to be performed. Tracking these activities at a research participant level will be critical for a number of patient safety and regulatory processes.  Our goal is to use this data to develop a more streamlined and efficient electronic notification of research activities with each of clinical partners.   
%p
  The form can be found here:  
  %a{:href => "https://enotis.northwestern.edu/services"} https://enotis.northwestern.edu/services
  %br
  You will be asked to login with your NU netid.
%p
  Please note that the link to the study-specific form is not the URL above – that is the link to see a list of all of your studies. A specific form looks like:
  %br
  https://enotis.northwestern.edu/services/STU00XXXXXX/edit
  %br
  where STU00XXXXXX is the IRB study number for the study. You will be able to copy the link from the list of studies on the https://enotis.northwestern.edu/services/ page. All of your staff and co-investigators with access to a study can use the https://enotis.northwestern.edu/services/ link to find the study as well.
%p
  %strong
    %em Your prompt response to this email is REQUIRED.  
    All surveys must be completed by no later than 9:00 am April 4, 2011.  Failure to comply with this request may jeopardize your access to clinical research services.
%p
  For questions regarding the survey please contact Debra Gibson Tice at 
  %a{:href => "mailto:d-gibson2@northwestern.edu"} d-gibson2@northwestern.edu
  or x3-4661. Should you have any other questions please contact Rex Chisholm (r-chisholm@northwestern.edu).
%p
  Thanks very much for your attention to this important matter.
%p
  Rex Chisholm, PhD
  %br
  Vice Dean for Scientific Affairs and Graduate Studies
%p
  Philip Greenland, MD
  %br
  Director, NUCATS Institute
  %br
  Sr. Associate Dean for Clinical and Translational Research
%p
  Eric J. Russell, MD, FACR, FSIR
  %br
  Interim President and CEO
  %br
  Northwestern Medical Faculty Foundation
%p
  Dennis Murphy
  %br
  Chief Operating Officer and Executive
  %br
  Vice President, Northwestern Memorial HealthCare
%br
%br
%br

