
%strong
  To all clinical research investigators,
%p
  Having an accurate account of all studies using clinical services and information about those services is critical for the university as well as our clinical partners. To identify those studies and build up the necessary data to notify our clinical partners of research-related services in a timely and compliant manner, we ask that you please complete the accompanying survey for each of your current studies. To reduce the burden on any one individual and streamline the process of answering the survey, you may delegate some or all of this activity by sharing the URLs for a study with your study personnel and/or financial staff. 
%p
  Taking the survey requires a valid Northwestern NetID and you must be on campus (NU, NMH, NMFF, RIC, CMH) or be logged into a campus VPN to access the survey. Access to the survey also requires that each person have a role in eIRB. The survey can be saved, reviewed or continued at any point. The identity of each individual viewing and answering the survey will be tracked. No patient identifiers are requested as part of the survey. The survey asks the following questions:

%ul
  %li Does the study involve clinical services?
  %li Will the study require clinical services as part of the study during the next 12 months?
  %li How many participants are currently enrolled (not completed) in the study?
  %li How many additional participants will you enroll in the study in the next 12 months?
  %li How many participants do you anticipate will require clinical services as part of the study during the next 12 months?
  %li Does the study require bedded outpatient services?
  %li Does the study require an inpatient stay? If so, how many days are covered as research and how many anticipated as standard of care?
  %li Does the study involve the pharmacy?
  %li Does the study involve labs/pathology?
  %li Does the study involve imaging?
%p
  In a follow-up survey, you will be asked to itemize the services required as part of the screening protocol and the study, and indicate the site (NMFF, NMH, RIC, CMH, NUCATS CRU, elsewhere) where the service is to be performed.
%p
  The survey is at:  
  %a{:href => "https://enotis.northwestern.edu/services"} https://enotis.northwestern.edu/services
  %br
  You will be asked to login with your NU netid.
%p
  Please note that the link to the study-specific survey is not the URL above – that is the link to see a list of all of your studies. A specific survey looks like:
  https://enotis.northwestern.edu/services/STU00XXXXXX/edit
  where STU00XXXXXX is the IRB study number for the study. You will be able to copy the link from the list of studies on the https://enotis.northwestern.edu/services/ page. All of your staff and co-investigators with access to a study can use the https://enotis.northwestern.edu/services/ link to find the study as well.
%p
  Your prompt response to this email is very much appreciated.
  %strong All surveys completed by February 1st will be entered into a raffle for an iPad. All surveys are due by February 4th.
%p
  For questions regarding the survey please contact Debra Gibson Tice at 
  %a{:href => "mailto:d-gibson2@northwestern.edu"} d-gibson2@northwestern.edu
  or x3-4661
%p
  Rex Chisholm, PhD Vice Dean for Scientific Affairs and Graduate Studies


 



