- @layout = "email"
%h2 There's a new clinical research tool...
%h1= link img( "https://enotis.nubic.northwestern.edu/images/static/enotis-swoop-b.gif", :alt => "eNOTIS", :style => "border: 0;"), "https://enotis.nubic.northwestern.edu/announce-2010-03.html"
%h2
  visit
  = link "enotis.northwestern.edu", "https://enotis.nubic.northwestern.edu/announce-2010-03.html"

%p eNOTIS is the subject registration system for all IRB-approved clinical research at Northwestern University.

%p Your studies in eIRB are already listed in eNOTIS. All investigators and coordinators may log in. Simply use your netid to see your studies.

%p eNOTIS tracks the subjects you accrue on your studies. Just upload your subject spreadsheet, or input the data on the study page.

%span.slogan= link "Measure, See, and Improve your research today.", "http://enotis.northwestern.edu/"

