- @layout = "email"
%h2 There's a new clinical research tool on the block...
%h1= img "static/enotis-swoop-logo.png", :alt => "eNOTIS"
%h2
  stop by and say hello
  %span.link= link "enotis.northwestern.edu", "http://enotis.northwestern.edu"

%p eNOTIS is the subject registration system for all IRB-approved clinical research at Northwestern University.

%p Your studies in eIRB are already listed in eNOTIS. All investigators and coordinators may log in with their netid and see their studies.

%p eNOTIS tracks the subjects you accrue on your studies. Just upload your subject spreadsheet, or input the data on the study page.

%span.slogan Measure
%span.slogan See
and
%span.slogan Improve
your research today