#pane_menu.expanded
  #pane_title="Events"
  #pane_actions
    -unless @involvement.study.is_managed?
      =link_to('Add',new_involvement_event_path(@involvement),:rel=>'#new_event')
#new_event
%table{:id=>"event_list"}
  %thead 
    %tr
      %th Event
      %th Occured On
      %th Notes
      %th
  %tbody
    -@involvement.involvement_events.each do |ie|
      %tr{:class => "event_#{ie.id}"}
        %td=ie.event_type.name
        %td=ie.occurred_on
        %td=ie.note
        %td
          -unless @involvement.study.is_managed?
            #action
              =link_to('Edit',edit_involvement_event_path(@involvement,ie),:rel=>'#edit_event')
            #action
              -form_tag(involvement_event_path(@involvement,ie),:method=>"delete",:class=>"delete_event") do
                =submit_tag('Delete')
