#pane_menu
  #pane_menu_title="Forms"
  #pane_actions
    =link_to("Add",available_surveys_path(:involvement_id=>@involvement.id,:study_id=>@study.id),:rel=>'#start_form',:class=>"add")
    =link_to("Subject Access",public_available_surveys_path(:uuid=>@involvement.uuid)) unless @involvement.uuid.blank?
#new_form
%table{:id=>"form_list"}
  %thead 
    %tr
      %th Form
      %th Visit Date
      %th Status
      %th Score
      %th 
  %tbody
    -@involvement.response_sets.each do |rs|
      %tr
        %td=rs.survey.title
        %td=rs.effective_date
        %td=rs.completed_at.blank? ? "Started" : "Completed"
        %td
          -rs.scores.each do |s|
            ="#{s.score_configuration.name} - #{s.value}"
        %td
          -if rs.completed_at.blank?
            #action
              =link_to("Edit",edit_my_survey_path(rs.survey.access_code,rs.access_code))
          #action
            =link_to("View",view_my_survey_path(rs.survey.access_code,rs.access_code))

