%p I understand that any information I access while using eNOTIS is strictly confidential and to be used only in the performance of my necessary duties. All queries will reference my identity and I will be fully responsible for them. Intentional, accidental, or involuntary violation of confidentiality will result in investigation. Proven violation may be cause for immediate termination of employment and may result in legal action.
%p= link_to "Accept and continue", other_involvement_path(@involvement, :accept => true), :class => "accept"
