#menu
  -unless @sections.size < 2 
    = t('surveyor.sections')
    - @sections.each do |s|
      #menu_section{:class=>"#{('active' if s == @section)}",:title=>"#{@section.title}"}
        #menu_text{:class => ("active" if s == @section)}= menu_button_for(s)
  #options
    .option
      =link_to("Save and Exit", study_path(@survey.study), :class=>"awesome regular option")
    .option
      =submit_tag(t('surveyor.click_here_to_finish'), :class=>"awesome regular option", :name => "finish") 
