.details
  = start_end_info(study)
  %span.research_type= "Research Type: #{study.research_type}" unless study.research_type.blank?
  = people_info(study.roles)
.charts
  #gender.chart
  #ethnicity.chart
  #race.chart
  .dotchart
    %h3 Accruals by month and weekday
    #by_month_and_weekday
