h1 {
  font-size: 3em;
  margin: 1em; }

h2 {
  font-size: 2.5em;
  margin: 1em; }

h3 {
  font-size: 2em;
  margin: 1em; }

body {
  background-color: #f0f0f0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 62.5% /*this is so we can have nice em's to pix conversion 1.0em ~= 10px, 1.1em ~= 11px, etc...*/;
  color: #333;
  line-height: 1.5em; }

#flash {
  width: 100%;
  padding: 0.5em;
  background-color: #c7360b;
  border: 0.2em solid #333;
  border-color: #a71600;
  font-size: 2em;
  color: #f0f0f0; }

.loginbox {
  border: 2px solid #333;
  border-color: #666666;
  background-color: #ffffe0;
  padding: 0.5em 1em;
  font-size: 1.5em;
  margin: 1em;
  width: 13em;
  line-height: 1.8em; }

ul#menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%; }
  ul#menu li {
    background-color: #666666;
    color: #f0f0f0;
    float: left;
    height: 5em; }
    ul#menu li div {
      padding: 1em;
      font-size: 1.2em; }
      ul#menu li div input[type='text'] {
        background-color: #f0f0f0;
        font-size: 1.2em;
        border: 2px inset #333;
        border-color: #a3a3a3; }
  ul#menu #app_name {
    font-size: 2em;
    color: #520064;
    padding: 0.6em;
    width: 7em; }
  ul#menu #protocol_search {
    width: 35em; }
  ul#menu #patient_search {
    width: 35em; }
  ul#menu #current_user {
    width: 7em; }

#main {
  padding: 0.5em 2em;
  font-size: 1.2em; }

#clear {
  clear: both;
  width: 1px; }
