body {
  background-color: #f0f0f0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 62.5% /*this is so we can have nice em's to pix conversion 1.0em ~= 10px, 1.1em ~= 11px, etc...*/;
  color: #333; }

#flash {
  width: 100%;
  padding: 0.5em;
  background-color: #c7360b;
  border: 0.2em solid #333;
  border-color: #a71600;
  font-size: 2em;
  color: #f0f0f0; }

#menu {
  background-color: #666666;
  color: #f0f0f0; }
  #menu input[type='text'] {
    background-color: #f0f0f0;
    font-size: 1.2em;
    border: 2px inset #333;
    border-color: #a3a3a3; }
  #menu li#app_name {
    font-size: 2em;
    color: #520064;
    margin: 0.6em;
    width: 8em; }
  #menu li#protocol_search {
    font-size: 1.2em;
    margin: 1em;
    width: 35em; }
  #menu li#patient_search {
    font-size: 1.2em;
    padding: 1em;
    margin-left: 50em;
    width: 45em; }
  #menu li#current_user {
    color: #00f;
    text-decoration: underline; }

#main {
  padding: 0.5em; }
