!!!
%html
  %head
    %title eNOTIS
  %body{:style => "background-color: #fffaca; margin: 0; padding: 0;"}
    #main{:style => "background-color: #fff; font-family: Trebuchet MS, Helvetica, sans-serif; width: 500px; margin: 0 auto; padding: 10px 20px;"}
      = yield


