/* line 17, ../../../app/stylesheets/default.sass */
body {
  background-color: #f0f0f0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 62.5% /*this is so we can have nice em's to pix conversion 1.0em ~= 10px, 1.1em ~= 11px, etc...*/;
  color: #333;
  line-height: 1.8em; }
  /* line 25, ../../../app/stylesheets/default.sass */
  body h1 {
    font-size: 2.5em;
    margin: 1em; }
  /* line 28, ../../../app/stylesheets/default.sass */
  body h2 {
    font-size: 2em;
    margin: 1em; }
  /* line 31, ../../../app/stylesheets/default.sass */
  body h3 {
    font-size: 1.8em;
    margin: 1em; }
  /* line 34, ../../../app/stylesheets/default.sass */
  body strong {
    font-weight: bold; }
  /* line 36, ../../../app/stylesheets/default.sass */
  body small {
    font-weight: normal;
    font-size: 0.75em; }
  /* line 39, ../../../app/stylesheets/default.sass */
  body .gray {
    color: #dadada; }
  /* line 41, ../../../app/stylesheets/default.sass */
  body a {
    color: #333333; }
  /* line 43, ../../../app/stylesheets/default.sass */
  body a:hover {
    color: #33f; }
  /* line 45, ../../../app/stylesheets/default.sass */
  body a:hover:visited {
    color: #33f; }
  /* line 47, ../../../app/stylesheets/default.sass */
  body a:visited {
    color: #333333; }
  /* line 49, ../../../app/stylesheets/default.sass */
  body .clear {
    clear: both; }
  /* line 51, ../../../app/stylesheets/default.sass */
  body div.clear {
    width: 1px; }
  /* line 56, ../../../app/stylesheets/default.sass */
  body #flash {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    padding: 0.5em;
    background-color: #c7360b;
    -moz-border-radius: 0 0 3px 3px;
    font-size: 1.5em;
    color: #f0f0f0; }
  /* line 68, ../../../app/stylesheets/default.sass */
  body #enotis_header {
    width: 100%;
    min-width: 111.5em;
    padding: 1.0em 0;
    color: #520063; }
    /* line 73, ../../../app/stylesheets/default.sass */
    body #enotis_header h1.app_name {
      float: left;
      margin: 0 0 .5em .5em;
      font-size: 2 em;
      font-weight: bold; }
    /* line 78, ../../../app/stylesheets/default.sass */
    body #enotis_header .tagline {
      float: left;
      margin-left: 1em;
      font-size: 1.5em;
      font-style: italic; }
    /* line 83, ../../../app/stylesheets/default.sass */
    body #enotis_header .current_user {
      float: right;
      margin-right: 1em;
      font-size: 1.5em; }
    /* line 87, ../../../app/stylesheets/default.sass */
    body #enotis_header ul.bridge-nav {
      clear: left;
      background-color: #dadada;
      color: #333333;
      line-height: 1.6em;
      font-size: 1.6em;
      padding: 0 1em 0 14em; }
      /* line 94, ../../../app/stylesheets/default.sass */
      body #enotis_header ul.bridge-nav li, body #enotis_header ul.bridge-nav form {
        display: inline; }
      /* line 96, ../../../app/stylesheets/default.sass */
      body #enotis_header ul.bridge-nav li {
        list-type: none;
        display: inline; }
        /* line 99, ../../../app/stylesheets/default.sass */
        body #enotis_header ul.bridge-nav li a, body #enotis_header ul.bridge-nav li a:hover, body #enotis_header ul.bridge-nav li a:visited, body #enotis_header ul.bridge-nav li a:active {
          color: #333333;
          text-decoration: none;
          padding: .2em 1em; }
        /* line 103, ../../../app/stylesheets/default.sass */
        body #enotis_header ul.bridge-nav li a:hover {
          background-color: #ffffe0; }
        /* line 105, ../../../app/stylesheets/default.sass */
        body #enotis_header ul.bridge-nav li a.current {
          background-color: #f0f0f0;
          color: #520063; }
  /* line 109, ../../../app/stylesheets/default.sass */
  body #main {
    padding: 0.5em 2em;
    font-size: 1.3em;
    min-width: 84em; }
    /* line 113, ../../../app/stylesheets/default.sass */
    body #main .heading {
      font-weight: bold;
      font-size: 1.5em;
      background-color: #E1EAF9;
      padding: .25em .5em; }
    /* line 118, ../../../app/stylesheets/default.sass */
    body #main .column {
      float: left;
      width: 48%;
      padding-right: 2%; }
    /* line 123, ../../../app/stylesheets/default.sass */
    body #main .loginbox {
      float: right;
      width: 13.3em;
      margin-right: 2em;
      border: 1px solid #333;
      border-color: #666666;
      background-color: #ffffe0;
      -moz-border-radius: 4px;
      padding: 1em;
      font-size: 1.5em;
      line-height: 1.8em; }
      /* line 134, ../../../app/stylesheets/default.sass */
      body #main .loginbox label {
        display: inline-block;
        width: 5em;
        margin-top: 1em; }
      /* line 138, ../../../app/stylesheets/default.sass */
      body #main .loginbox input {
        margin-top: 1em; }
      /* line 140, ../../../app/stylesheets/default.sass */
      body #main .loginbox input[type='text'], body #main .loginbox input[type='password'] {
        width: 13em; }
      /* line 142, ../../../app/stylesheets/default.sass */
      body #main .loginbox input[type='submit'] {
        margin-left: 16em; }
      /* line 144, ../../../app/stylesheets/default.sass */
      body #main .loginbox p {
        margin-top: 1em;
        text-align: center;
        font-size: .7em; }
    /* line 148, ../../../app/stylesheets/default.sass */
    body #main .enotis_description {
      width: 30em;
      font-size: 1.5em;
      line-height: 1.5em; }
    /* line 152, ../../../app/stylesheets/default.sass */
    body #main .system_status {
      width: 20em;
      margin-top: 1.5em;
      -moz-border-radius: 4px;
      padding: 1em;
      background-color: #D9FFCC; }
      /* line 158, ../../../app/stylesheets/default.sass */
      body #main .system_status .heading {
        background: transparent; }
      /* line 160, ../../../app/stylesheets/default.sass */
      body #main .system_status p {
        padding: .25em .5em; }
    /* line 162, ../../../app/stylesheets/default.sass */
    body #main .training {
      width: 50em;
      margin-top: 1.5em; }
      /* line 165, ../../../app/stylesheets/default.sass */
      body #main .training .video {
        float: left;
        width: 70px;
        height: 60px;
        margin: 1em;
        background-image: url('/images/video.jpg');
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px;
        text-align: center;
        color: #666666; }
    /* line 177, ../../../app/stylesheets/default.sass */
    body #main #study_list {
      float: left;
      width: 70%; }
      /* line 180, ../../../app/stylesheets/default.sass */
      body #main #study_list ul {
        background-color: #e9e9e9;
        padding: .25em .5em;
        min-height: 15em; }
        /* line 184, ../../../app/stylesheets/default.sass */
        body #main #study_list ul li {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          /* line 188, ../../../app/stylesheets/default.sass */
          body #main #study_list ul li a {
            display: block;
            width: 100%;
            padding: .25em .5em;
            color: #333333;
            text-decoration: none; }
            /* line 194, ../../../app/stylesheets/default.sass */
            body #main #study_list ul li a .study_id {
              font-weight: bold; }
          /* line 202, ../../../app/stylesheets/default.sass */
          body #main #study_list ul li a:hover {
            cursor: pointer;
            background-color: #ffffe0; }
    /* line 207, ../../../app/stylesheets/default.sass */
    body #main #recent_events {
      float: left;
      width: 27%;
      margin-left: 3%; }
      /* line 212, ../../../app/stylesheets/default.sass */
      body #main #recent_events ul li {
        background-color: #e9e9e9;
        padding: .25em .5em;
        margin: 1em 0; }
        /* line 216, ../../../app/stylesheets/default.sass */
        body #main #recent_events ul li a {
          display: block;
          width: 100%;
          padding: .25em .5em;
          color: #333333;
          text-decoration: none; }
        /* line 222, ../../../app/stylesheets/default.sass */
        body #main #recent_events ul li a:hover {
          cursor: pointer;
          background-color: #ffffe0; }
    /* line 227, ../../../app/stylesheets/default.sass */
    body #main #user_options {
      background-color: #dadada;
      -moz-border-radius: 4px 4px;
      width: 35%;
      margin: 1em;
      margin-left: 60%;
      padding: 1.5em;
      height: 10em; }
    /* line 236, ../../../app/stylesheets/default.sass */
    body #main #subject_list ul {
      background-color: #e9e9e9;
      padding: .25em .5em;
      min-height: 15em; }
      /* line 240, ../../../app/stylesheets/default.sass */
      body #main #subject_list ul li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        /* line 244, ../../../app/stylesheets/default.sass */
        body #main #subject_list ul li a {
          display: block;
          width: 100%;
          padding: .25em .5em;
          color: #333333;
          text-decoration: none; }
        /* line 250, ../../../app/stylesheets/default.sass */
        body #main #subject_list ul li a:hover {
          cursor: pointer;
          background-color: #ffffe0; }
    /* line 255, ../../../app/stylesheets/default.sass */
    body #main #subject_list .add_subjects {
      float: right;
      margin-right: 1em;
      margin-top: -1em; }
      /* line 259, ../../../app/stylesheets/default.sass */
      body #main #subject_list .add_subjects a {
        display: block;
        border: 1px solid #333;
        padding: 0.3em;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        width: 8em;
        background-color: #520063;
        color: #f0f0f0; }
      /* line 269, ../../../app/stylesheets/default.sass */
      body #main #subject_list .add_subjects a:hover {
        background-color: #ffffe0;
        color: #520063; }
    /* line 274, ../../../app/stylesheets/default.sass */
    body #main #new_subject_form input {
      padding: 0.5em; }
    /* line 278, ../../../app/stylesheets/default.sass */
    body #main #study .vitals {
      float: left;
      width: 20em;
      -moz-border-radius: 5px 0 0 5px;
      padding: .5em;
      background-color: #D9FFCC; }
      /* line 284, ../../../app/stylesheets/default.sass */
      body #main #study .vitals p {
        margin: .5em; }
      /* line 286, ../../../app/stylesheets/default.sass */
      body #main #study .vitals p.irb_number {
        font-size: 2em;
        margin: .25em; }
    /* line 289, ../../../app/stylesheets/default.sass */
    body #main #study .description {
      float: left;
      width: 60em;
      -moz-border-radius: 0 5px 5px 0;
      padding: .5em;
      background-color: #dadada; }
    /* line 295, ../../../app/stylesheets/default.sass */
    body #main #study ul.study_tabs {
      position: relative;
      clear: left;
      margin-top: 1em;
      margin-bottom: 1.5em;
      border-bottom: 2px solid;
      border-color: #dadada;
      background-color: #f0f0f0;
      color: #333333;
      line-height: 1.2em;
      font-size: 1.2em;
      padding: 0 1em; }
      /* line 307, ../../../app/stylesheets/default.sass */
      body #main #study ul.study_tabs li {
        position: relative;
        list-style: none;
        display: inline;
        border-width: 2px 2px 0 2px;
        border-style: solid;
        border-color: #dadada;
        background-color: #dadada; }
        /* line 315, ../../../app/stylesheets/default.sass */
        body #main #study ul.study_tabs li a, body #main #study ul.study_tabs li a:hover, body #main #study ul.study_tabs li a:visited, body #main #study ul.study_tabs li a:active {
          color: #333333;
          text-decoration: none;
          padding: 0 1em .1em 1em; }
        /* line 319, ../../../app/stylesheets/default.sass */
        body #main #study ul.study_tabs li a:hover {
          background-color: #ffffe0; }
      /* line 321, ../../../app/stylesheets/default.sass */
      body #main #study ul.study_tabs li.ui-tabs-selected a, body #main #study ul.study_tabs li.ui-state-disabled a, body #main #study ul.study_tabs li.ui-state-processing a {
        background-color: #f0f0f0;
        color: #520063;
        cursor: text; }
    /* line 325, ../../../app/stylesheets/default.sass */
    body #main #study .ui-tabs-hide {
      display: none !important; }
    /* line 327, ../../../app/stylesheets/default.sass */
    body #main #study #overview, body #main #study #subjects, body #main #study #documents, body #main #study #imports {
      padding: .5em; }
      /* line 330, ../../../app/stylesheets/default.sass */
      body #main #study #overview ul li, body #main #study #subjects ul li, body #main #study #documents ul li, body #main #study #imports ul li {
        background-color: #e9e9e9;
        padding: .25em .5em;
        margin: 1em 0; }
    /* line 334, ../../../app/stylesheets/default.sass */
    body #main #study .header_details {
      -moz-border-radius: 4px 4px;
      background-color: #dadada;
      padding: 1em;
      margin-bottom: 1em; }
      /* line 339, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .primary_data {
        font-weight: bold;
        font-size: 2em;
        width: 6.4em;
        float: left;
        border: 1px solid #333;
        background-color: #f0f0f0;
        margin-bottom: 0.5em; }
      /* line 347, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .secondary_data {
        font-size: 1.3em;
        margin-left: 11.5em;
        font-weight: bold; }
        /* line 352, ../../../app/stylesheets/default.sass */
        body #main #study .header_details .secondary_data em {
          font-weight: normal; }
      /* line 354, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .tertiary_data {
        border-top: 1px solid #333;
        clear: both;
        padding: 0.5em;
        font-size: 1.2em; }
      /* line 359, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .status_icon {
        padding: 0.5em;
        border: 1px solid #333;
        width: 5.35em; }
      /* line 364, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .study_id {
        text-align: center;
        width: 100%;
        padding: 0.5em 0em; }
      /* line 368, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .approved {
        background-color: #3c7c3b;
        color: #f3f3f3; }
      /* line 371, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .suspended {
        background-color: #d3d3d3; }
      /* line 373, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .terminated {
        background-color: red; }
      /* line 375, ../../../app/stylesheets/default.sass */
      body #main #study .header_details .review {
        background-color: #d3d3d3; }
    /* line 377, ../../../app/stylesheets/default.sass */
    body #main #study .file_details {
      -moz-border-radius: 4px 4px;
      background-color: #dadada;
      padding: 0.5em;
      margin-bottom: 1em;
      float: left;
      width: 45%; }
      /* line 384, ../../../app/stylesheets/default.sass */
      body #main #study .file_details .study_file {
        padding: 0.5em;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: -1px; }
        /* line 389, ../../../app/stylesheets/default.sass */
        body #main #study .file_details .study_file img {
          position: relative;
          top: 3px; }
        /* line 392, ../../../app/stylesheets/default.sass */
        body #main #study .file_details .study_file em {
          padding-bottom: 0.4em; }
    /* line 394, ../../../app/stylesheets/default.sass */
    body #main #study .status_history {
      -moz-border-radius: 4px 4px;
      background-color: #dadada;
      padding: 0.5em;
      margin-bottom: 1em;
      margin-left: 50%; }
      /* line 400, ../../../app/stylesheets/default.sass */
      body #main #study .status_history li {
        padding: 0.5em; }
    /* line 402, ../../../app/stylesheets/default.sass */
    body #main #study .accural_status {
      -moz-border-radius: 4px 4px;
      background-color: #dadada;
      padding: 0.5em;
      margin-bottom: 1em; }
  /* line 408, ../../../app/stylesheets/default.sass */
  body #footer {
    background-color: #fff;
    padding: 1em;
    border-top: 1px solid #333;
    text-transform: uppercase; }
