#services_form
  .study_name
    :color #666
  form
    :font-size 1.2em

    ul
      :list-style-type none

    li
      :padding 0.4em 0.2em

    em
      :display block
      :font-size 0.8em
      :color #666

    .dependent
      :margin-left 20px

    input[type=submit]
      :float right
      :font-size 1.7em

  .help
    :padding-top 2em
    :clear right
    :font-weight 1.2em

#study_report_list
  :font-size 1.2em
  :padding-bottom 2em 
  fieldset
    :border 1px solid #ccc
    :padding 0.5em 0.7em
    legend
      :font-weight bold
  
  em
    :display block
    :font-size 0.8em
    :padding-bottom 1em
    :color #666
  ul
    :list-style-type none
    
    li
      :padding 0.3em

  .radios
    :padding 0 0.3em 0 0
    :float left
  .study_name
    :margin-left 10em

  .study_status
    :display inline
    :font-size 0.8em
    :color #666
    :font-weight bold

#reportable_studies
  :font-size 1.2em
  fieldset
    :padding 0.5em
    :background-color #f0f0f0
    :border 1px solid #ccc
    legend 
      :font-weight bold
  ul
    :list-style-type none

    li
      :padding 0.3em
      :border-bottom 1px otted #333
      .study_name
        :float left
        :width 50em
      .study_button
        :margin-left 51em

.dependent
  :display none

#bedded_description
  table
    :width 60em

#direct_link
  :padding 0.5em
  :font-size 1.2em
  :width 42em

#crumbs
  :padding 0.5em
  :font-size 1em

#shared_links
  :padding 0.5em 1em 1em 0.5em

.completed_status
  :display inline
  :color #317B22 

.incomplete_status
  :display inline
  :color #DD6C21
  :font-weight bold
