form#new_involvement, form.edit_involvement
  ol
    :list-style none
    :margin 0
    li
      label
        :display block
      label.box
        :display inline
  .subject, .demographics, .consented, completed
    :float left
    :width 24%
  .subject
    li.case_number, li.mrn, li.first_name, li.middle_name
      :float left
      :width 100px
      input
        :width 90px
    li.last_name, li.first_name, li.birth_date
      :clear left
      
#report
  +squish
#study
  +squish
  span.study_title
    :padding-right 16px
    :font-size 20px
    a
      :text-decoration none
      :background transparent url('/images/icons/toggle-down.png') 99% 50% no-repeat
      :padding 2px 16px 3px 5px
      &:hover
        :background-color #eee
    a.open
      :background #eee url('/images/icons/toggle-up.png') 99% 50% no-repeat
  #study_information
    +column(46, true)
    +squeeze
    :padding-top 10px
    :background #eee
    :font-size 12px
    span.study_title
      :font-size 16px
      :padding-bottom 10px
    .details
      +column(16)
      :margin-top 10px
      span
        :display block
    .charts
      :clear left
      .chart
        :width 250px
        :height 150px
        :float left
  #actions
    :font-size 20px
    :float right
    a
      :text-decoration none
      :margin-left 10px
    a.add
      :padding-left 20px
      :background transparent url('/images/icons/add.png') no-repeat center left    
    a.import
      :padding-left 20px
      :background transparent url('/images/icons/table_add.png') no-repeat center left
    a.export
      :padding-left 20px
      :background transparent url('/images/icons/table_save.png') no-repeat center left    
  #accrual
    th dtr.withdrawn, td span.withdrawn
      :color #aaa
  #import
    :display none
    .upload
      +column(24)
    .uploads
      +column(24, true)

