// This file contains the sass styles for the main.html.haml layout
@import application.sass
// Importing our custom modules for parts of the app
@import dashboard.sass
@import my_events.sass
@import my_subjects.sass
@import search.sass
@import studies.sass
@import datatables.sass

#search_box
  +column(20)
  :margin-top 43px
  :text-align center
  input
    :margin-top 3px
    :vertical-align top
    :padding 0.2em
  #query
    :margin-top 0
  a, a:hover, a:visited, a:active
    :padding-right 0.2em
#current_user_badge
  :margin-top 10px
  :float right
  +bold
  
// Styles for the top level page navigation
#bridge-nav
  +column(50,true)
  :background-color #d6d6d6
  ul
    :margin 0
    :display block
    :height 35px  
    +horizontal-list(!blueprint_grid_margin)
    +span(44)
    +prepend(2)
    form, form div
      :display inline
    li
      :background transparent
      :height= !blueprint_grid_outer_width * 2
      a, a:hover, a:visited, a:active
        :color= !secondary_data_color
        :text-decoration none
        :font-size= !blueprint_grid_width
        :padding= !blueprint_grid_width
        :line-height= !blueprint_grid_outer_width * 2
    li:hover
      :background-color= !notice_bg_color
    li.current
      :background-color= !nu_page_background
      :color= !nu_purple
      :border-left= 1px solid !primary_data_border_color
      :border-right= 1px solid !primary_data_border_color

    
// The main wrapper div for the layout  
#main
  +column(50,true)
  +rounded_bottom_box( #e9e9e9 )
  :background #e9e9e9 url('/images/pane-texture-bg.png') repeat-x
  :background-position 0 -35px
// Some generic id's and classes used on
// most pages
#livesearch-results
  +column(48, true)
  +squeeze
  :display none
  :background #fff
  // :padding 5px 10px
  :max-height 300px
  :overflow auto
  :position absolute
  :z-index 99
  :top 75px
  :border 1px solid #d6d6d6
  :border-width 0 1px 1px 1px

.heading
  +rounded_top_box( !primary_data_bg_color )
  +bold
  +primary_data_text
  :padding-left 0.8em

.footing
  :text-align right

#session-expire
  :padding 50px

