// This file contains the sass styles for the main.html.haml layout
// Importing all our base mixins, colors, and plugins 
@import base.sass 
// Importing our custom modules for parts of the app
@import dashboard.sass
@import my_events.sass
@import my_subjects.sass
@import search.sass
@import studies.sass
@import datatables.sass

body
  :background-image url('/images/bridge-nav-bkgnd.gif')
  :background-repeat repeat-x
  :background-position 0 65px
  // :background url('/images/idx2.gif')
  // basic top, middle, bottom block layout
  
  #header
    +column(35,true)
    
    .app_name
      :font-size 3em
      :font-weight bold
      :color = !nu_purple
      img
        :padding-top= !blueprint_grid_width/2
  

    .tagline
      :color = !nu_purple
      :font-size 0.3em

  #current_user_badge
    +column(14,true)
    +push(1)
    +bold
    
  // Styles for the top level page navigation
  #bridge-nav
    +column(52,true)
    :background-color= !secondary_data_bg_color
    :background-image url('/images/bridge-nav-bkgnd.gif')
    :background-repeat repeat-x
    ul
      +horizontal-list(!blueprint_grid_margin)
      +span(44)
      +prepend(2)
      form, form div
        :display inline
      li
        :height= !blueprint_grid_outer_width * 2
        a, a:hover, a:visited, a:active
          :color= !secondary_data_color
          :text-decoration none
          :font-size= !blueprint_grid_width
          :padding= !blueprint_grid_width
          :line-height= !blueprint_grid_outer_width * 2
      li:hover
        :background-color= !notice_bg_color
      li.current
        :background-color= !nu_page_background
        :color= !nu_purple
        :border-left= 1px solid !primary_data_border_color
        :border-right= 1px solid !primary_data_border_color
      li.search
        input
          :margin-top= !blueprint_grid_margin * 2
          :vertical-align top
          :padding 0.2em
        input#query
          :margin-top= (!blueprint_grid_margin * 2) - 3px
          :vertical-align top
          :margin-left -0.1em
        a, a:hover, a:visited, a:active
          :padding-right 0.2em
      
  // The main wrapper div for the layout  
  #main
    +column(52,true)
  
  // Some generic id's and classes used on
  // most pages

  #footer 
    +column(52,true)


  .heading
    +rounded_top_box( !primary_data_bg_color )
    +bold
    +primary_data_text
    :padding-left 0.8em

  .footing
    :text-align right

  // the overlayed element 
  .overlay
    // must be initially hidden 
    :display none 
    // place overlay on top of other elements 
    :z-index 10000 
    // styling 
    :background-color #fff
    //#333 
    //:width 675px
    :padding 10px
    :border 1px solid #666 
    // CSS3 styling for latest browsers 
    :-moz-box-shadow 0 0 90px 5px #000 
    :-webkit-box-shadow  0 0 90px #000     
  
  // close button positioned on upper right corner
  .overlay .close
    :background-image url(/images/jquery-tools/apple-close.png) 
    :position absolute 
    :right -12px 
    :top -12px 
    :cursor pointer 
    :height 28px 
    :width 28px
  
  #overlay
    :min-height 200px 
  #session-expire
    :padding 50px

