// Styles for public views - authentication controller
@import application.sass

body
  :background-image url('/images/public-fade-bg.png')
#environment
  :position absolute
  :left 50%
  :width 350px
  :margin-left -175px
  :background-color= !development_color
  :font-size 1.5em
  :text-align center
  &.staging
    :background-color= !staging_color

#login
  :margin-top 10px
  :float right
  :text-align right
#main
  :background-position 0 0
  ul.tabs
    :background-color #d6d6d6
    :margin 0
    :display block
    :height 35px
    +column(48, true)
    li
      :background transparent
      :list-style none
      :display block
      :float left
      :width 278px
      :padding 0 40px 0 0
      a
        :color #999999
        :font-size 18px
        :height 30px
        :line-height 35px
        :text-decoration none
      a:hover
        :color #555555
      a.current
        :border-bottom 7px solid #006699
        :color #333333
  div.access_help
    :padding-top 20px
  // root element for the scrollable. when scrolling occurs this element stays still. 
  div.panes
    // required settings
    :position relative
    :overflow hidden 
    // :width 955px
    +column(48,true)
    :height 450px
    :padding-top 20px
    h4, h3
      :color #333
    h2
      :font-weight bold
    // root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accomodate scrollable items. it's enough that you set width and height for the root element and not for this element. 
    div.items
      // this cannot be too large
      :width 20000em
      :position absolute
      // a single item. must be floated in horizontal scrolling. typically, this element is the one that *you* will style the most. 
      div.item
        :float left
        +column(48)
        // :width 955px
        // div.pane-column
        //   +column(15)
        //   :padding-right 20px
        img
          :float left
          :padding-right 20px
        div.col
          :float left
          :width 303px
          :padding-right 15px
        div.col2
          :float left
          :width 48%
          :padding-right 2%
        p.q
          :font-weight bold
          :margin-bottom 5px
          :font-size 13px
        p.a
          
      div.current
        :border 1px inset #ccc 
        :background-color #cdcdcd

#footer
  .nulogo, .fsmlogo, .nucatslogo, .nubiclogo
    :float left
    :margin 0 3px
  p.version
    :clear left
    :padding-top 10px
#help
  :width 675px