- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable({bServerSide: true, sAjaxSource: '/studies.json' });});

#study_list
  .heading= "All Studies (#{@studies_count})"
  = render :partial => 'partials/study_table'
