- content_for :head do
  :javascript
    $(document).ready(function(){$(".display").dataTable();});

#subject_list
  - if @subjects.empty?
    = render :partial => "subjects/no_subjects"
  - else
    .heading
      = "My Subjects (#{@subjects.size})"
    %table.display
      %thead
        %th Name
      %tbody  
        - @subjects.each do |subject|
          %tr
            %td= render :partial => "partials/subject", :object => subject
