%p
  = @subject.name
#studies
  Associated Studies:
  %ul
  - @involvements.each do |involvement|
    %li= link_to(involvement.study.name, study_path(involvement.study))
#events
  Events:
  %ul
    - @involvement_events.each do |ie|
      = ie.term
      on
      = link_to(ie.involvement.study.name, study_path(ie.involvement.study, :anchor => "events"))