%li
  = f.label :event, "Activity"
  = f.select :event, event_options(f.object.event), :include_blank => true
  -# note taken out until it is requested
  -#= f.label      :note
  -#= f.text_field :note
  %br
  = f.label      :occurred_on, "On"
  = f.text_field :occurred_on, :class => 'date', :autocomplete => "off"
  
