#involvement_detail
  #involvement_demographics
    =render :partial => 'involvement_basics', :locals => {:study => @involvement}  
  #involvement_events
    = render :partial => 'partials/involvement_event_list'

  -unless @study.surveys.empty?
    #involvement_forms
      = render :partial => 'partials/involvement_forms_list'


