body {
  font-family: Verdana;
  font-size: 10pt;
  text-align: center; }

#main {
  width: 1004px;
  margin: 0 auto;
  text-align: left; }

.column {
  float: left;
  width: 48%;
  padding-right: 2%; }

.clear {
  clear: both; }
