-form_for(@event_type,:url=>study_event_type_path(@study,@event_type)) do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label      :description
  = f.text_field :description
  %br
  #pane_menu
    #pane_actions
      =f.submit "update"
      =link_to 'cancel',study_event_types_path(@study),:rel=>"#cancel_eventtype"
