%h4 Event Types
#pane_menu
  #pane_actions
    =link_to 'new', new_study_event_type_path(@study),:rel=>"#event_type"
%table{:id=>"event_types"}
  %thead
    %tr
      %th Name
      %th Description
      %th Actions
  %tbody
    -@uneditable_events.each do |ev|
      %tr.uneditable
        %td=ev.name
        %td=ev.description
        %td This is event type is not editable
    -@editable_events.each do |ev|
      %tr.editable
        %td=ev.name 
        %td=ev.description
        %td
          #action
            =link_to ('edit',edit_study_event_type_path(@study,ev),:rel=>'#event_type')
          #action
            -form_tag(study_event_type_path(@study,ev),:method=>"delete",:class=>"delete_event_type") do
              =submit_tag('delete')
            //=link_to ('delete',study_event_type_path(@study,ev),:method=>:delete)
