-form_for(@event_type,:url=>study_event_types_path(@study)) do |f|
  #pane_menu
    #pane_actions
      =f.submit "create"
      =link_to 'cancel',study_event_types_path(@study),:rel=>"#event_type"

  = f.label :name
  = f.text_field :name
  %br
  = f.label      :description
  = f.text_field :description
  %br
  #pane_menu
    #pane_actions
      =f.submit "create"
      =link_to 'cancel',study_event_types_path(@study),:rel=>"#event_type"
