#protocol_full
  %ul.menu
    %li.inactive
      = link_to("General Info",registration_path(@protocol.irb_number))
    %li.inactive
      %a
        Study Events
    %li.active
      %a
        Subjects
    %li.inactive
      %a
        Subject Events
    %li.inactive
      %a.gray
        Budgeting


#subject_list
  - if @involvements.nil?
    .heading
      You are NOT authorized to see subjects on this protocol
  - else

    .heading
      The following subjects are currently associated with this protocol
    %ul 
      - @involvements.each do |i|
        %li=render(:partial => "subject", :object => i.subject)




