#reports
  %ul 
    %li=link_to "NIH Inclusion Enrollment Report", nih_reports_path(:study => @study.irb_number), :popup => true
    %li=link_to('Subject Export',reports_path(:type=>'subjects','study[irb_number]'=>@study.irb_number),:method=>:post) 

  -unless @study.surveys.empty?
    #forms
      %table
        %thead
          %tr
            %th Form List
            %th
            %th
            %th
        %tbody
          -@study.surveys.each do |survey|
            %tr
              %td=survey.title
              %td
                -unless survey.score_configurations.empty?
                  =link_to('Scores',reports_path(:type=>'survey_score',:survey_id=>survey.id,'study[irb_number]'=>survey.irb_number),:method=>:post) 
                -else
                  ="N/A"
              %td=link_to('Data',reports_path(:type=>'survey_data',:survey_id=>survey.id,'study[irb_number]'=>survey.irb_number),:method=>:post) 
              %td=link_to('Key',reports_path(:type=>'survey_key',:survey_id=>survey.id,'study[irb_number]'=>survey.irb_number),:method=>:post) 



    
